<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h2>Your Order
            <br>
        </h2>
            <table>
                <thead style="background-color: #5AC8FA">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.product  %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td>kshs. {{ item.price }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr style="background-color: #5AC8FA">
                        <td><b>Total</b></td>
                        <td colspan="1"></td>
                        <td colspan="num"><b>kshs. {{ cart.get_total_price }}</b></td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>
