<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %}
            {% endblock %}</title>
        {% load socialaccount %}
        {% providers_media_js %}
    </head> 
    <body>
    <a href="{% url 'article:list' %}">Articles</a>
    <a href="{% url 'blog:list' %}">Entries</a>
        {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}" style="float:right; margin-left: 5px;">Logout</a> 
            {{ user.username }}
        {% else %}
            <div>
                <a href="{% url 'auth_password_reset' %}" style="float:right; margin-left: 5px;">Reset Password</a>
                <a href="{% url 'registration_register' %}" style="float:right; margin-left: 5px;">Register </a></div>
                <a href="{% url 'auth_login' %}" style="float:right;">Login</a>
                <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Login Facebook</a>
                <a href="{% provider_login_url 'twitter' %}">Sign in with Twitter</a>
            </div>
        {% endif %}
        <form action="/search" method="get" class="navbar-search pull-left">
            <input type="text" placeholder="Search" class="search-query span2" name="q">
        </form>
        {% block content %}

        {% endblock %}
    </body>
</html>
