{% extends "base.html" %}

{% block content %}
  <article>

    <header>

      <h2>
        {{ entry.title }}
      </h2>          

    </header> 

    <div class="entry-content-media">
      <div class="post-thumb">
        <img src="{{ article.image.cover.url }}">
      </div> 
    </div>

    <div>
      {{ entry.body|safe }}
    </div>

    <ul class="post-nav group">
      {% for entry in argicle.comments.all %} 
        {% comment %} put something there {% endcomment %}
      {% endfor %}
    </ul>

  </article>
 
{% endblock content %}