{% extends "articles/base.html" %}

{% block content %}
  <article>

    <header>

      <h2>
        {{ object.title }}
      </h2>          

    </header> 
    <div>
      {{ object.body|safe }}
    </div>

    <ul>
      <h3>
        Comments
      </h3>
      {% for comments_set in object.comments_set.all %} 
        <td>
          {{ comments_set.body}}
        </td>
        <br>
        <br>
      {% endfor %}
    </ul>
    <h1>New comment</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

  </article>
 
{% endblock content %}